/* 
CSS written for our interaction project
*/

/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Header Styles */
.navbar{
  top:0;
}


/* imageEdit Styles */
#imageEditImage{
  width: 30vw;
}
