<div class="container">

  <div class="row row-centered">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#/albumView">
        <img class="img-responsive" src="images/logos/album.png" download alt="" >
      </a>
      <p>Album tag</p>
    </div>
  </div>