<div class="container">
  <h2>Contact us</h2>  
  <p>Anna Olsson:
    <a href="#">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>
  </p>

  <p>Denise Nordlöf:
    <a href="#">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>
  </p>

</div>