<div class="container">

  <div class="row row-centered">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/looklet.png" download alt="" >
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download"></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/acando.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/atg.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/cirrato.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/looklet.png" download alt="" >
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download"></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/acando.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/atg.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/cirrato.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/looklet.png" download alt="" >
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download"></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/acando.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/atg.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/cirrato.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/looklet.png" download alt="" >
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download"></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/acando.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/atg.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/cirrato.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/looklet.png" download alt="" >
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download"></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/acando.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/atg.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb col-centered">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="images/logos/cirrato.png" alt="">
        <a href="images/logos/looklet.png" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download "></span></a>
        <a href = "#/imageEdit" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
        <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-trash"></span></a>
      </a>
    </div>

    
  </div>