<div class="container">
  <h2>About this image</h2>
  
  <h3>Edit image</h3>
  <img class="img-responsive" src="images/logos/cirrato.png" alt="" id="imageEditImage">

  <h3>Tags</h3>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">All tags
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">spring</a></li>
      <li><a href="#">cafe</a></li>
      <li><a href="#">workout</a></li>
      <li class="divider"></li>
      <li><a href="#">New tag...</a></li>
    </ul>
  </div>
  <!--</p>-->
  <a href = "#" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-floppy-disk"></span></a>

  <input class='form-control input-lg js-tag-input' id='tokenlist-loaded' type='text' value='tag1, tag2, tag3, tag4'>
</div>
