.thumb {
  margin-bottom: 30px;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  margin-right:-4px;
}

.thumbnail {
  min-width: 15vw;
  height: 15vw;
}

.thumbnail img {
 max-height: 100%;
 max-width: 100%;
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.btn-default{
max-width: 35%;
word-wrap: break-word;
white-space: no-wrap;
overflow: hidden;
text-overflow: ellipsis;
}
