<div ng-include='"partials/header.html"' ng-controller="HeaderCtrl"></div>

<div class="container">
  <div ng-app="" ng-init="getAllTags()"></div>

  <div class="row row-centered">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="tag in tagNames">
      <a class="thumbnail" href="#/albumView" ng-click="getTagPhotos(tag.name)">
        <img class="img-responsive" src="images/album.jpg" download alt="" >
      </a>
      <p>{{tag.name}}</p>
    </div>

  </div> <!-- End of row div -->

</div> <!-- End of container div -->