<div ng-include='"partials/header.html"' ng-controller="HeaderCtrl"></div>

<div class="container">

  <div class="row row-centered">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="photo in tagPhotos"> 
      <a class="thumbnail">
        <img class="img-responsive" ng-src="{{photo.full_url}}" download alt="" >
        <a href="images/igelkott.jpg" download="images/igelkott.jpg" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download-alt"></span></a>
      </a>
    </div>

  </div> <!-- End of row div -->
</div> <!-- End of container div -->