<!--Very standard navigation bar as described by w3schools-->

<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/albums" ng-click="getAllTags()">All albums</a></li>
                <li><a href="#/myImages" ng-click="getUserPhotos()">My images</a></li>
                <input type="file" name="file" id="file" ng-model="file" onchange="angular.element(this).scope().uploadNewPhoto(event)" />
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="currentUser"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/logout" ng-click="logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>