<div ng-include='"partials/header.html"' ng-controller="HeaderCtrl"></div>

<div class="container">

  <h3>Edit image</h3>
  <img class="img-responsive" ng-src="{{currentPhotoObject.full_url}}" alt="photo not available" id="imageEditImage">
  

  <h3>Tags</h3>

  <div class="form-group">
    <label>Input new tag:</label>
    <input type="text" class="form-control" ng-model="userInput" placeholder="Write tag here...">
    <a ng-click ="addPhotoToTag(userInput)" class="btn"><span class="glyphicon glyphicon-floppy-disk"></a>
  </div>

  <p>Current tags:</p>
  <li style="display: inline-block; padding: 5px; margin: 5px" ng-repeat= "tag in currentPhotoObject.tags" ng-show="!$first">
    {{tag}}
    <a ng-click ="removeTag(tag)">x</a>
  </li>

</div> <!-- End of container div -->