<!-- Modified code inspired by the example from:  https://getbootstrap.com/examples/signin/ -->

<div class="container" id="loginWrapper">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>

    <!--Email input field-->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="username" required autofocus>

    <!--Password input field-->
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <!--Login / Create user buttons-->
    <button class="btn btn-primary" type="submit" ng-click="login(username, password)">Sign in</button>
    <button class="btn btn-primary" type="submit" ng-click="createNewUser(username, password)">Create new user</button>

  </form>

</div>