<div ng-include='"partials/header.html"' ng-controller="HeaderCtrl"></div>
<div class="container">

  <div ng-app="" ng-init="getUserPhotos()"></div>

  <div class="row row-centered">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="photo in userPhotos">
      <a class="thumbnail">
        <img class="img-responsive" ng-src="{{photo.full_url}}" download alt="">
        <a ng-href="{{photo.full_url}}" download="looklet" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-download"></span></a>
        <a href = "#/imageEdit" ng-click="loadDetailsForPhoto(photo.photoKey)" class = "btn btn-default" role = "button"><span class="glyphicon glyphicon-cog"></span></a>
      </a>
    </div>
    
  </div> <!-- End of container div-->