.textStyle{
font-weight:normal;
letter-spacing:0pt;
word-spacing:0pt;
font-size:92%;
text-align:left;
font-family:lucida sans unicode, lucida grande, sans-serif;
line-height:1;
}


a:link {
  text-decoration: none;
  /*color: white;*/
}

a:hover {
  /*font-size:130%;*/
  /*color: white;*/
}

.galleryContainer{
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: 5%;
  padding: 10px;
  position: absolute;
  overflow: scroll;
}

div.galleryImg {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 15%;
  height: 200px;
  position: relative;
}

div.galleryImg:hover {
  border: 1px solid #777;
}

div.galleryImg img {
  position: relative;
  margin: auto;
  width: 90%;
  height: 50%;
  padding: 5%;
}

div.buttonField {
  padding: 15px;
  text-align: center;
  height:40%;
}

.imagePopupClass{
  max-width:50vw;
  max-height:50vw;
}

.transparent{
  background-color: rgba(0,0,0,0.8);
  height: 2vw;
}